# Python / Django
backend/venv/
__pycache__/
*.py[cod]
*$py.class
backend/*.sqlite3
backend/db.sqlite3

# React / Node
node_modules/
build/
frontend/package-lock.json
frontend/.DS_Store
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Logs locais
run-logs/

# Arquivos de IDE
.vscode/
.idea/
