body, html, #root {
  height: 100vh;  /* Ocupa 100% da altura da tela */
  width: 100vw;   /* Ocupa 100% da largura da tela */
  overflow: hidden; /* 🎓 Impede a PÁGINA INTEIRA de rolar */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
